{% extends 'social/layout.html' %}
{% load static %}
{% block content %}
    <div class="container">

            
            <form class="form" method="post">
                <h1>Restablecer contraseña </h1>
                <br>
                <div style="text-align: left;">
                    {% csrf_token %}
                    {{ form.username.label_tag }}
                    {% if show_security_questions %}
                        <input type="text" name="username" value="{{ form.username.value }}" readonly>
                    {% else %}
                        {{ form.username }}
                    {% endif %}
                    {% if show_security_questions %}
                        <p>Pregunta de seguridad: {{ pregunta_seguridad }}</p>
                        {{ form.respuesta_seguridad.label_tag }}
                        {{ form.respuesta_seguridad }}
                    {% endif %}
                </div>
                <div style="display: flex; justify-content: flex-end;">
                    <button type="submit" id="submit-button" style="margin-right: 10px;">Enviar</button>
                    <a href="{% url 'login' %}"><button type="button" id="cancel-button">Cancelar</button></a>
                </div>
            </form>
            {% if form.errors and check_security_answer %}
                <p class="error">{{ form.errors }}</p>
            {% endif %}

        </div>
    </div>
{% endblock %}








