{% extends 'social/layout.html' %}
{% load static %}
{% block content %}
    <div class="container">
            <form class="form" method="post">
                <h1 class="form-title">Restablecer contraseña </h1>
                <br>
                {% csrf_token %}
                <div style="text-align: left;">
                    {{ form.as_p }}
                </div>
                <div class="form-buttons">
                    <button type="submit" id="submit-button">Enviar</button>
                    <a href="{% url 'login' %}" class="cancel-link">
                        <button type="button" id="cancel-button">Cancelar</button>
                    </a>
                </div>
            </form>
    </div>
{% endblock %}






